<div>
    <h2>Dividend Calendar</h2>
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Dividend</th>
          <th>Adj Dividend</th>
          <th>Date</th>
          <th>Record Date</th>
          <th>Payment Date</th>
          <th>Declaration Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dividend of dividendData">
          <td>{{ dividend.symbol }}</td>
          <td>{{ dividend.dividend | number:'1.2-2' }}</td>
          <td>{{ dividend.adjDividend | number:'1.2-2' }}</td>
          <td>{{ dividend.date | date:'mediumDate' }}</td>
          <td>{{ dividend.recordDate | date:'mediumDate' }}</td>
          <td>{{ dividend.paymentDate | date:'mediumDate' }}</td>
          <td>{{ dividend.declarationDate | date:'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  