<div class="dividends-container">
  <h2>Dividends</h2>
  <div class="table-responsive">
    <table class="dividends-table">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Label</th>
          <th>Date</th>
          <th>Adjusted Dividend</th>
          <th>Dividend</th>
          <th>Record Date</th>
          <th>Payment Date</th>
          <th>Declaration Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dividend of dividendData">
          <td>{{ dividend.symbol }}</td>
          <td>{{ dividend.label }}</td>
          <td>{{ dividend.date | date: 'mediumDate' }}</td>
          <td>{{ dividend.adjDividend | currency: 'USD' }}</td>
          <td>{{ dividend.dividend | currency: 'USD' }}</td>
          <td>{{ dividend.recordDate | date: 'mediumDate' }}</td>
          <td>{{ dividend.paymentDate | date: 'mediumDate' }}</td>
          <td>{{ dividend.declarationDate | date: 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
