<div class="container mt-3">
    <div class="list mt-3">
        <app-not-found
            [visible]="!stocks"
            resetLinkText="Reset"
        ></app-not-found>
        <ul class="list-group">
            
            <li class="list-group-item" *ngFor="let stock of stocks">
                <a routerLink="/stock/{{stock.id}}" class="text-decoration-none text-dark">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="pe-3">
                                <!-- Aici poți adăuga o imagine dacă este disponibilă -->
                                <!-- <img src="{{stock.imageURL}}" alt="{{stock.symbol}} logo" class="img-fluid" style="width: 50px; height: 50px;"> -->
                            </div>
                            <div class="name fw-bold">
                                <div>{{ stock.name }} ({{ stock.symbol }})</div>
                                <div>{{ stock.type }} - {{ stock.exchange }}</div>
                                <div>{{ stock.price }}</div>
                            </div>
                        </div>
                        <div>
                            <!-- Aici poți adăuga schimbarea prețului dacă este relevant -->
                            <!-- <div class="text-danger">{{ stock.change }}</div> -->
                        </div>
                    </div>         
                </a>
                <i *ngIf="!stock.favorite" class="bi bi-suit-heart" (click)="onToggleFavorite(stock)"></i>
                <i *ngIf="stock.favorite" class="bi bi-suit-heart-fill" (click)="onToggleFavorite(stock)"></i>
            </li>
        </ul>
    </div>
</div>
