<div *ngIf="user && user.id" class="profile-container">
    <h2>Profile Details</h2>
    <div class="profile-info">
      <p><strong>ID:</strong> {{ user.id }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Name:</strong> {{ user.name }}</p>
      <div *ngIf="!editAddress">
        <p><strong>Address:</strong> {{ user.address }} <button (click)="toggleEditAddress()">Edit</button></p>
      </div>
      <div *ngIf="editAddress" class="edit-address">
        <input class="input" [(ngModel)]="newAddress" placeholder="New address">
        <div class="buttons">
          <button (click)="updateAddress()">Save</button>
          <button (click)="toggleEditAddress(false)">Cancel</button>
        </div>
      </div>
      <p><strong>Amount:</strong> {{ user.balance }}</p>
    </div>
  </div>
  