header {
  background: white;
  padding: 0.5rem 1rem;
  border-bottom: none;
  z-index: 1000; /* Ensure the header has a high z-index */
  position: relative; /* Ensure the header's z-index is respected */
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item {
  list-style: none;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.balance-container {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Fundal alb pentru container */
  border-radius: 20px; /* Margini rotunjite */
  padding: 5px 15px; /* Padding pentru spațiu intern */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Umbra ușoară pentru efect de elevație */
  font-size: 16px; /* Dimensiune font adecvată pentru vizibilitate */
  cursor: pointer;
}

.balance-icon { /* Culoarea portocalie pentru icon */
  color: #004494;
  border-radius: 50%; /* Cerc complet */
  padding: 5px; /* Mărimea iconului */
  margin-right: 10px; /* Spațiu între icon și text */
}

.balance-text {
  flex-grow: 1; /* Textul ocupă restul spațiului */
}

.bi-chevron-down {
  color: #cccccc; /* Culoare pentru săgeată */
  margin-left: 10px; /* Spațiu între text și săgeată */
}

.nav-link {
  color: #004494;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #e9ecef; /* Culoare de fundal gri deschis pentru hover */
  color: #004494; /* Culoare de text albastru închis la hover */
}

.dropdown-menu {
  position: absolute;
  top: 0;
  right: 0; /* Position the menu to the right */
  margin-top: 0.5rem;
  background-color: white;
  border: 1px solid #dee2e6;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 1050; /* Ensure the dropdown has a higher z-index */
}

.dropdown-item {
  color: #004494;
  padding: 10px 20px;
  cursor: pointer;
  display: block; /* Ensure items are block elements */
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .balance-container {
    font-size: 14px; /* Mărimea fontului mai mică pe dispozitive mobile */
    padding: 3px 10px;
  }

  .balance-icon {
    padding: 3px; /* Icon mai mic */
  }
}

.demo-account-btn {
  background-color: #004494;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.demo-account-btn:hover {
  background-color: #004494;
}
