<header>
  <div class="container">
    <a routerLink="/hello" class="logo">Trading Platform</a>
    <nav>
      <ul>
        
        <a *ngIf="isAuth" routerLink="/deposit">Balance:{{user.balance}} USD</a>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a>{{ user.name }}</a> <!-- Modifică aici -->
          <div class="menu">
            <a [routerLink]="['/profile', user.id]">Profile</a>
            <a routerLink="/portofolio">Portofolio</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        
        <!-- Alte elemente ale meniului pot rămâne neschimbate -->
      </ul>
    </nav>
  </div>
</header>
