<header>
  <div class="container">
    <a routerLink="/" class="logo">Trading Platform</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{ user.name }}</a> <!-- Modifică aici -->
          <div class="menu">
            <a [routerLink]="['/profile', user.id]">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <!-- Alte elemente ale meniului pot rămâne neschimbate -->
      </ul>
    </nav>
  </div>
</header>
