<header>
    <div class="container">
        <a routerLink="/" class="logo">Trading Platform</a>
        <nav>
            <ul>
                <li class="menu-container">
                    <a routerLink="/dashboard">Dashboard</a>
                    <a routerLink="/trades">Trades</a>
                    <a routerLink="/wallet">Wallet</a>
                    <a routerLink="/settings">Settings</a>
                    <a routerLink="/Profile">Profile</a>
                    <a routerLink="/login">Login</a>
                    <a routerLink="/register">Register</a>
                </li>
                <li >
                    <a routerLink="/cartPage">
                        Cart <span>3</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/demo">Demo</a>
                </li>
                

            </ul>
        </nav>
    </div>
</header>