.searchbar {
    padding: 10px;
}

.list {
    margin-top: 15px; /* Spațiu între bara de căutare și listă */
}

.list-group-item {
    background-color: #fff; /* Fundal alb pentru elementele listei */
    border-radius: 5px; /* Colțuri rotunjite pentru fiecare element al listei */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Umbră subtilă pentru fiecare element al listei */
}

.list-group-item .name {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold; /* Textul mai îndrăzneț pentru nume și preț */
}

.list-group-item .name div:last-child {
    color: #dc3545; /* Culoarea pentru schimbările de preț (poate fi ajustată la verde pentru creșteri) */
}

/* Media query-uri pentru ajustări suplimentare pe dispozitive mobile */
@media (max-width: 768px) {
    .searchbar, .list .list-group-item .name {
        padding: 10px;
        font-size: 0.9rem; /* Ajustează dimensiunea fontului pentru lizibilitate pe dispozitive mobile */
    }
}
