<div class="searchbar">
    <app-search
[isStockSearch]="isSearchOn"></app-search>
</div>
<div class="list">
    <app-not-found
    [visible]="!stocks || !stocks.length"
    resetLinkText="Reset">
</app-not-found>
<ul>
    <li *ngFor="let stock of stocks | slice:0:3">
        <a routerLink="/stock/{{stock.id}}">
            <div class="content">
                <div class="image">
                    
                </div>
                <div class="name">
                    {{stock.symbol}}
                    {{stock.price}}
                         
                </div>
            </div>         
        </a>
    </li>
</ul>
</div>