.news-container .card-body {
  padding: 0.5rem;
}

.news-container .card-title {
  font-size: 0.5rem;
}

.news-container .news-title {
  font-size: 0.75rem; /* Ajustează această valoare după preferințele tale */
}
