
<app-not-found
    [visible]="!stock"
    notFoundMessage="Stock not found"
    resetLinkText="Homepage">
</app-not-found>
<div *ngIf="stock" class="container">
    <div class="details">
        <div class="header">
            <img src="{{companyProfile.image}}" alt="Company Logo" class="company-logo">
            <h1>{{stock.symbol}}</h1>
            <h1>{{stock.exchangeShortName}}</h1>
            <p>{{companyProfile.price}}</p>
            <p>{{stock.type}}</p>
            <p>{{stock.exchange}}</p>
        </div>
        <div class="price-container" *ngIf="marketData">
            <div class="prices">
              <div class="price-box">
                <span class="label">Bid Price:</span>
                <span class="value">{{ marketData.bidPrice | currency:'USD':true }}</span>
              </div>
              <div class="price-box">
                <span class="label">Ask Price:</span>
                <span class="value">{{ marketData.askPrice | currency:'USD':true }}</span>
              </div>
              <div class="price-box">
                <span class="label">Last Sale Price:</span>
                <span class="value">{{ marketData.lastSalePrice | currency:'USD':true }}</span>
              </div>
            </div>
          </div>
    <button> Buy</button>
    </div>
    <div *ngIf="chartOptions.series"> <!-- Afișează graficul numai când datele seriei sunt disponibile -->
        <highcharts-chart 
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          [constructorType]="'stockChart'"
          style="width: 100%; height: 400px; display: block;">
        </highcharts-chart>
      </div>
      <div class="key-ratios">
        <p><span class="detail-label">Market Cap:</span> {{companyProfile.mktCap}}</p>
        <p><span class="detail-label">Revenue:</span> {{companyProfile.volAvg}}</p>
        <p><span class="detail-label">Last Divident:</span> {{companyProfile.lastDiv}}</p>
        <p><span class="detail-label">Beta:</span> {{companyProfile.beta}}</p>
      </div>
      <div class="company-profile-container">
        <div class="company-header">
            <img src="{{companyProfile.image}}" alt="{{companyProfile.companyName}} Logo" class="company-logo">
            <h2 class="company-title">{{companyProfile.companyName}}</h2>
        </div>
        <div class="company-details">
            <p><span class="detail-label">CEO:</span> {{companyProfile.ceo}}</p>
            <p><span class="detail-label">Sector:</span> {{companyProfile.sector}}</p>
            <p><span class="detail-label">Industry:</span> {{companyProfile.industry}}</p>
            <p><span class="detail-label">Address:</span> {{companyProfile.address}}, {{companyProfile.city}}, {{companyProfile.state}} {{companyProfile.zip}}</p>
            <p><span class="detail-label">Website:</span> <a href="{{companyProfile.website}}" target="_blank">{{companyProfile.website}}</a></p>
            <p class="company-description"><span class="detail-label">Description:</span> {{companyProfile.description}}</p>
        </div>
    </div>
</div>



