/* Optional: Stiluri personalizate suplimentare dacă sunt necesare */
.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.input-container input::placeholder {
    color: #FFFFFF;
}

.errorList {
    color: #d9534f;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.page {
    background-color: #FFFFFF; /* Asigură-te că fundalul este alb */
}