<div class="login-overlay-header"></div>
<div class="page">
<div class="container mt-6">
    <div class="row">
        <div class="col-md-6">
            <!-- Loc pentru imagine -->
            <img src="/assets/girl-2583442_640.jpg" alt="Description of image" class="img-fluid h-75">
        </div>
        <div class="col-md-6">
            <div class="details">
                <form [formGroup]="loginForm" (ngSubmit)="submit()" class="p-4 shadow-sm rounded bg-white">
                    
                    <text-input
                    [control]="fc.email"
                    [showErrors]="isSubmitted"
                    type="email"
                    label="email"></text-input>

                    <text-input
                    [control]="fc.password"
                    [showErrors]="isSubmitted"
                    type="password"
                    label="password"></text-input>
                    
                    <default-button text="Login"></default-button>
                    <asl-google-signin-button *ngIf="!user" type='standard' size='medium'>
                    </asl-google-signin-button>
                    <div class="register mt-3">
                        New user? &nbsp;
                        <a routerLink="/register" [queryParams]="{returnUrl : returnUrl}">
                          Register here
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
