<div class="login-overlay-header"></div>
    <div class="login-wrapper">
        <div class="left-section">
            <div class="blue-extension"></div>
        </div>
        <div class="right-section">
            <div class="login-container">
                <div class="login-header">
                    <h1>Login to Your Account</h1>
                </div>
                <div class="login-form-container">
                    <form [formGroup]="loginForm" (ngSubmit)="submit()">
                        <div class="input-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" formControlName="email" [class.error]="isSubmitted && fc.email.errors" />
                            <div *ngIf="isSubmitted && fc.email.errors" class="error-message">
                                <span *ngIf="fc.email.errors.required">Email is required</span>
                                <span *ngIf="fc.email.errors.email">Email is invalid</span>
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" formControlName="password" [class.error]="isSubmitted && fc.password.errors" />
                            <div *ngIf="isSubmitted && fc.password.errors" class="error-message">
                                <span *ngIf="fc.password.errors.required">Password is required</span>
                            </div>
                        </div>
                        <button type="submit" class="login-button">Login</button>
                        <asl-google-signin-button *ngIf="!user" type='standard' size='medium'></asl-google-signin-button>
                        <div class="register mt-3">
                            New user? &nbsp;
                            <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>