/* Optional: Stiluri personalizate suplimentare dacă sunt necesare */
.login-overlay-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Ajustează înălțimea pentru a se potrivi cu headerul tău */
    background-color: white;
    z-index: 1001; /* Asigură-te că acest header suplimentar are un z-index mai mare decât headerul principal */
  }
.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.input-container input::placeholder {
    color: #FFFFFF;
}

.errorList {
    color: #d9534f;
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.page {
    background-color: #FFFFFF; /* Asigură-te că fundalul este alb */
}