html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ocupă întregul ecran pe înălțime */
    width: 100%; /* Ocupă întregul ecran pe lățime */
    overflow: hidden; /* Ascunde scroll-ul */
  }
  
  .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  #particles-js {
    position: absolute;
    top: [inaltimea header-ului]; /* De exemplu, dacă header-ul tău are 50px înălțime */
    left: 0;
    width: 100%;
    height: calc(100% - [inaltimea header-ului]); /* Ajustează înălțimea pentru a începe de sub header */
  }