html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Elimina scroll-ul orizontal */
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  overflow: hidden; /* Elimina scroll-ul suplimentar */
}

.account-statistics {
  display: flex;
  justify-content: space-between;
  background: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.statistic {
  margin: 0 10px;
}

.statistic .label {
  font-weight: bold;
}

.statistic .value {
  font-size: 1.2em;
}

.chart-section {
  background: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.invest-section, .cfd-section {
  max-height: 40vh; /* Setează o înălțime maximă pentru a preveni extinderea excesivă */
  overflow-y: auto; /* Adaugă scroll vertical */
}

.stock-card {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.stock-card .stock-name a {
  color: #007bff;
  text-decoration: none;
}

.stock-card .stock-amount, .stock-card .stock-value, .stock-card .stock-change {
  margin-bottom: 5px;
}

.stock-card .stock-change.positive {
  color: green;
}

.stock-card .stock-change.negative {
  color: red;
}

.pending-orders-container {
  height: 40vh; /* Setează o înălțime pentru containerul de comenzi pendente */
  overflow-y: auto; /* Adaugă scroll vertical */
}

.pending-orders {
  background: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
