
<div class="list-container">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Stocks
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div *ngFor="let item of getStocks()" class="stock-card">
            <div *ngIf="item.type==='stock'">
            <div class="stock-name">{{ item.symbol }}</div>
            <div class="stock-value">{{ item.currentValue | currency:'USD':'symbol-narrow' }}</div>
            <div class="stock-change" [ngClass]="{'positive': item.percentChange >= 0, 'negative': item.percentChange < 0}">
              {{ item.percentChange | number:'1.2-2' }}%
            </div>
            <button type="button" class="btn btn-danger" (click)="openSellModal(item)">Vinde</button>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Crypto
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div *ngFor="let item of getCryptos()" class="stock-card">
          <div *ngIf="item.type==='crypto'">
          <div class="stock-name">{{ item.symbol }}</div>
          <div class="stock-value">{{ item.currentValue | currency:'USD':'symbol-narrow' }}</div>
          <div class="stock-change" [ngClass]="{'positive': item.percentChange >= 0, 'negative': item.percentChange < 0}">
            {{ item.percentChange | number:'1.2-2' }}%
          </div>
          <button type="button" class="btn btn-danger" (click)="openSellModal(item)">Vinde</button>
        </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
  
</div>
<div class="overview-container">
  <div class="account-value">
    <div class="label">Account Amount</div>
    <div class="value">{{ user.balance| currency:'USD':'symbol-narrow' }}</div>
  </div>
  <div class="portfolio-value">
    <div class="label">Portfolio Value</div>
    <div class="value">{{ portfolioValue | currency:'USD':'symbol-narrow' }}</div>
  </div>
</div>
<highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"
  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
<div class="history-container">
  <div class="order-history">
    <h2>Istoric Comenzi</h2>
    <div *ngFor="let order of purchaseOrders" class="order-detail">
      <div>Data: {{ order.date | date: 'medium' }}</div>
      <div>Simbol: {{ order.symbol }}</div>
      <div>Preț per acțiune: {{ order.price | currency: 'USD' }}</div>
      <div>Număr acțiuni: {{ order.nrOfActions }}</div>
      <div>Valoare totală: {{ (order.price * order.nrOfActions) | currency: 'USD' }}</div>
      <div>Status: {{ order.status }}</div>
    </div>
  </div>
</div>
<ng-template #sellModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Vânzare {{ selectedStock?.symbol }}</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="sellAmount">Număr disponibil de actiuni:{{ selectedStock?.nrOfActions }}</label>
        <label for="sellAmount">Număr de acțiuni:</label>
        <input type="number" class="form-control" id="sellAmount" [(ngModel)]="sellAmount" name="sellAmount" required>
      </div>
      <div>
        Valoare totală estimată: {{ sellAmount * selectedStock?.currentPrice | currency:'USD':'symbol-narrow' }}
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Închide</button>
    <button type="button" class="btn btn-primary" (click)="sellStock()">Confirmă vânzarea</button>
  </div>
</ng-template>



