.container {
  display: flex;
  justify-content: space-between;
  padding: 10px; /* Spațiu redus */
  gap: 10px; /* Spațiu redus între elemente */
}

.stock-card {
  margin-bottom: 10px; /* Spațiu redus între carduri */
  padding: 10px; /* Spațiu intern redus */
  border-radius: 8px; /* Păstrăm rotunjirea pentru estetică */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Umbra subtilă pentru efect de adâncime */
}

.overview-container, .order-history {
  padding: 10px; /* Uniformizare și reducere */
  border-radius: 8px; /* Păstrăm rotunjirea pentru estetică */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Umbra subtilă pentru efect de adâncime */
}

.stock-name, .stock-value, .stock-change, .label, .value {
  margin-bottom: 5px; /* Redus pentru a economisi spațiu vertical */
}

.value {
  font-size: 1.2em; /* Mărire ușoară pentru vizibilitate */
}

/* Ajustări pentru dispozitive mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .portfolio-left, .portfolio-right, .details-container, .chart-container {
    width: 100%;
    margin-bottom: 10px; /* Redus de la 20px */
    padding: 0; /* Eliminat padding-ul lateral pentru a maximiza spațiul disponibil */
  }
}

.details-container, .chart-container {
  padding-right: 10px; /* Redus pentru a economisi spațiu */
  padding-left: 10px; /* Redus pentru a economisi spațiu */
}

.order-detail {
  padding: 5px 0; /* Redus pentru a fi mai compact */
  margin-bottom: 5px; /* Spațiu redus între detaliile comenzii */
}

.order-detail div {
  margin-bottom: 3px; /* Redus pentru compactitate */
}
